.aboutus_container {
  background-color: rgba(158, 151, 151, 0.526);
}

/* .f_image{
  filter: blur(4px);
  -webkit-filter: blur(4px);
} */

/* width */
::-webkit-scrollbar {
  width: 5px;
  border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
  background: rgba(255, 255, 255, 0.337); 
  border-radius: 25px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 25px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}