@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}



.home_welcome_message {
  transition: opacity 3s;
  /* background-color: rgba(167, 155, 155, 0.141); */
}

.background_image_container {
  width: 100%;
  height: auto;
}

.background_image {
  
}

.explore_button {
  background-color: rgba(167, 155, 155, 0.449);
  /* background-color: rgba(84, 80, 80, 0.342); */
  transition: background-color 0.5s, color 0.5s;
}

.explore_button span {
  transition: opacity 3s;
}

.explore_button:hover {
  background-color: rgba(17, 17, 17, 0);
  /* color: rgba(0, 0, 0, 0.218); */
  /* opacity: 0.7; */
}

@media only screen and (max-width: 1024px) {
  .home_background {
    background-image: linear-gradient(to bottom, transparent, rgba(128, 128, 128, 0.659));
  }
}